/* --- CORES CRIARE --- */
:host {
  --criare-red: #B2002D;
  --criare-dark: #800020;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none; 
}

/* Borda lateral agora VERMELHA */
.border-start-primary {
  border-left: 5px solid var(--criare-red) !important; 
}

/* Efeito Hover */
.hover-effect:hover {
  transform: translateY(-3px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  cursor: pointer;
}

/* Sobrescreve o texto azul (Contador de propostas) */
.text-primary {
  color: var(--criare-red) !important;
}

/* --- BOTÕES --- */

/* Botão Sólido (Nova Solicitação) */
.btn-primary {
  background-color: var(--criare-red) !important;
  border-color: var(--criare-red) !important;
}

.btn-primary:hover, .btn-primary:active {
  background-color: var(--criare-dark) !important;
  border-color: var(--criare-dark) !important;
}

/* Botão Contorno (Ver Detalhes) */
.btn-outline-primary {
  color: var(--criare-red) !important;
  border-color: var(--criare-red) !important;
}

.btn-outline-primary:hover {
  background-color: var(--criare-red) !important;
  color: white !important;
  border-color: var(--criare-red) !important;
}