.filtros {
  max-width: 560px;
}

.filtros .form-select {
  width: auto;
  min-width: 200px;
}

.filtros .input-group {
  width: 280px;
}

@media (max-width: 576px) {
  .filtros .input-group,
  .filtros .form-select {
    width: 100%;
  }
}
